/*!
   modified from https://github.com/RyanFitzgerald/devportfolio-template
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
body.active {
  overflow: hidden;
  z-index: -1;
}

.no-js #experience-timeline > div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ff4f4f;
}
.no-js #experience-timeline > div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #ff4f4f;
  display: inline-block;
  margin: 0;
}
.no-js #experience-timeline > div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}
.no-js #experience-timeline > div p {
  color: #d1d1d1;
  font-size: 0.9em;
  margin: 0;
}
.no-js #experience-timeline:before, .no-js #experience-timeline:after {
  content: none;
}

#menu.active {
  display: block;
}

footer {
  justify-content: center;
  padding: 40px 0;
}

.top {
  text-align: center;
}
.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid white;
  text-align: center;
}
.top i {
  color: #d1d1d1;
}

.social {
  text-align: center;
}
.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}
.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}
.social a {
  display: block;
  color: #d1d1d1;
  padding: 10px;
}
.social a:hover {
  color: #888888;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: 0.5s ease all;
}
.btn-rounded-white:hover {
  color: #888888;
  background: #fff;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.heading:after {
  position: absolute;
  content: "";
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #888888;
}


.background-alt {
  background: rgb(19, 21, 22);
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/
#about {
  background: rgb(14,15,16);
  margin-top: 8%;
  border-top: 1px solid rgb(124,0,0);
  padding: 3% 5%;
  border-bottom: 1px solid rgb(124,0,0);
}
#about h2 {
  color: #ff4f4f;
}
#about p {
  color:rgb(175, 172, 168);
  margin: 0;
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/
#projects {
  
  padding: 50px 15px;
  border-bottom: 1px solid #ff4f4f;
  text-align: center;
}

#project-container {
	display: flex;
	justify-content: space-around;
  }
  
  #left {
	width: 45%;
  }
  
  #right {
	width: 45%;
  }

#projects h2 {
  color: #ff4f4f;
  margin-bottom: 50px;
}

#projects p {
	color: #afaca8;
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: rgb(14, 15, 16);
  border-radius: 4px;
}

.project-image {
  float: left;
  padding-right: 5%;
}

.project-info {
	
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 37%;
  padding: 15px;
  
}
.project-info h3 {
  font-family: "Ubuntu";
  font-size: 1.5em;
  font-weight: 500;
  color: #ff4f4f;
  margin: 0 0 15px 0;
  background: rgb(14, 15, 16);
  padding: 5px 10px;
	border-radius: 10px;
}

.project-info h4 {
	color: #afaca8;
	margin: 0 0 15px 0;
	background: rgb(14, 15, 16);
	padding: 5px 10px;
	border-radius: 10px;
  }

.project-info p {
  color: #0a0a0a;
  margin: 0 0 15px 0;
  font-size: 0.9em;
  background: rgb(14, 15, 16);
  padding: 5px 10px;
	border-radius: 10px;
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none;
}

#more-projects {
  display: none;
}

.more {
	font-size: 1em;
	color: white;
	padding: 5px 10px;
	background: rgb(126, 0, 0);
	border-radius: 10px;
}

/* css from old site */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

li, a, .contact {
	font-family: "Ubuntu";
	font-weight: 500;
	font-size: 25px;
	color: white;
	text-decoration: none;
	
}

article {
	font-family: "Ubuntu";
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10%;
	margin-right:0px;
}

.fa-github{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 100;
}

.fa-linkedin{
	margin-right: 20px;
	margin-left: 20px;
}

.fa-paper-plane{
	margin-right: 20px;
	margin-left: 20px;
}

.fa-caret-down{
	margin-top: 0.5%;
	padding-bottom: 4%;
	color: white;
	display: flex; 
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgb(240, 69, 69);
}

.fa-github:hover{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 100;
	color: rgb(240, 69, 69);
	transition: all 0.3s ease 0s;
}

.fa-linkedin:hover{
	margin-right: 20px;
	margin-left: 20px;
	color: rgb(240, 69, 69);
	transition: all 0.3s ease 0s;
}

.fa-paper-plane:hover{
	margin-right: 20px;
	margin-left: 20px;
	color: rgb(240, 69, 69);
	transition: all 0.3s ease 0s;
}

.andrew {
	justify-content: center;
	font-family: "Ubuntu";
	font-size: 50px;
	margin-top: 0px;
	margin-right: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.andrew:hover {
	color: rgb(240, 69, 69);
}

.ul {
	justify-content: center;
}
