@charset "utf-8";
@import url("webfonts/Helvetica_400/stylesheet.css");
@import url("webfonts/century_bold/stylesheet.css");

.andrew {
	color: #FFFFFF;
	font-family: "century bold";
	font-size: 88px;
	min-height: 20px;
	height: 100px;
	min-width: 0px;
	line-height: 90px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-top: -11px;
	max-height: 0px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.chen {
	color: #FFFFFF;
	font-family: "century bold";
	font-size: 88px;
	min-height: 20px;
	height: 100px;
	min-width: 0px;
	line-height: 90px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-top: -11px;
	max-height: 0px;
	margin-bottom: 35px;
	margin-left: 15px;
}

.disclaimer {
	position: absolute;
	color: black;
	font-family: "century bold";
	font-size: 21px;
	left: 15px;
	top: 86.5vh;
	z-index: 100;
}

.contact {
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	font-family: "century bold";
	font-size: 21px;
	left: 26vw;
	top: 92.5vh;
	z-index: 100;
}

.hi {
	position: absolute;
	text-align: center;
	color: white;
	font-family: "Helvetica 400";
	font-size: 42px;
	left: 500px;
	top: 10px;
	z-index: 100;
}

